/* .recharts-wrapper {
    width: 100% !important;
}

.recharts-surface {
    width: 100% !important;
} */

#graphTitle {
    margin: auto;
    width: 50%;
    text-align: center;

    font-size: 25px;
}