.accordian {
    width: 80%;
    margin: auto;
    border: 1px solid $black-color;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: $light-grey;


    &__title {
        font-size: 2rem;
        border-bottom: 1px solid $black-color;
        cursor: pointer;
        
    }

    &__form--open {
        height: auto;
        max-height: 150px;
        transition: all 0.5s ease;
        border-bottom: none;
        opacity: 1;
        padding: 2rem 0;
        background-color: $light-grey;

        &:last-child {
            border-bottom: 1px solid $black-color;
        }
    }

    &__form--close {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all 0.5s ease;
    }

    &__arrow {
        transition: 0.5s all;
        float: right;
        margin-right: 1rem;

        &--active {
            transform: rotate(180deg);
        }
    }
}