.nav {
    position: relative;
    background-color: #dddddddd;  
    border-top-left-radius: $border-radius-app;
    border-top-right-radius: $border-radius-app;  

    &__button {
        margin-right: 3rem;
        cursor: pointer;

        &--active {
            background-color: $light-grey;
        }

        &--word {
            padding: 1rem;
            border-bottom: 3px solid transparent;

            &:hover {
                border-bottom: 3px solid red;
            }
        }
    }

    &__dropdown {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        &--active {
            display: block;
        }

        &__link {
            padding: 1rem;

            &:hover {
                background-color: $grey-color;
            }
        }
    }
}