.nav {
    font-size: 2.5rem;
    // background-color: $grey-color-3;
    // color: $white-color;
    display: flex;
    flex-wrap: wrap;

    @include respond(phone) {
        font-size: 1.5rem;
    }

    &__homeText {
        font-size: 3rem;

        @include respond(phone) {
            font-size: 1.5rem;
        }
    }

    &-item {
        margin-right: 1rem;
    }
}

.navbar {
    font-size: 3rem;

    border-top-right-radius: $border-radius-app;
    border-top-left-radius: $border-radius-app;
}

.dropdown-menu.show {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.dropdown-menu {
    font-size: 2.5rem;
    padding: 0;
}

.dropdown-item {
    padding: 0;
}

.dropdown-link {
    padding: .25rem 1.5rem;
}