.recap {
    border-right: 2px solid black;
    padding: 0 6rem;
    
    @include respond(phone) {
        border: none;
        padding: 0;
    }

    &__week {
        background : $darker-blue;
        color: white;
        text-align: center;
    }
}

table {
    font-size: 2rem;
}

tbody {
    text-align: center;
    font-weight: 500;
    border: none;
}

thead {
    text-align: center;
}

td {
    font-weight: bold;
}

.color1 {
    background: #26b426;
}

.color2 {
    background: #18d900;
}

.color3 {
    background: lightgreen;
}

.color4 {
    background: #d7f461
}

.color5 {
    background: #fbff00;
}

.color6 {
    background: #faec43;
}

.color7 {
    background: #f4c459;
}

.color8 {
    background: #fc865a;
}

.color9 {
    background: #f84d4d;
}

.color10 {
    background: red;
}

.color11 {
    background: #dd0303;
}

.color12 {
    background: #ac0101;
}