.scoreboard {
    border-right: 2px solid black;
    font-size: 2.5rem;
    text-align: center;
    padding: 0 3rem;

    @include respond(phone) {
        font-size: 2rem;
    }

    &__week {
        background: rgb(0, 0, 107);
        color:white;
        width: 100%;
        text-align:center;
    }

    &__row {
        border: 2px solid black;
        margin-top: 5rem;

        @include respond(phone) {
            margin-top: 2.5rem;
            font-size: 1.5rem;
        }
    }

    &__scores {
        color:white;
        background:black;

        @include respond(phone) {
            padding: 0;
        }
    }

    &__names {
        color:black;
        background:rgb(221, 221, 221);
        border-right: 2px solid black;
        text-align: left;

        @include respond(phone) {
            padding: 0 1rem;
        }
    }

    &__record {
        color:black;
        background:rgb(221, 221, 221);

        @include respond(phone) {
            padding: 0;
        }
    }
}