$headingFont: 8rem;
$default-font-size: 1.6rem;
$small-font-size: 1.35rem;

$border-radius-app: 1rem;
$navbar-height: 5rem;
$navbar-width: 65vw;

$primary-color: #6171ff;
$light-blue: #69b7f7;
$dark-blue: #3549fc;
$darker-blue: #00006b;

$light-purple: #9f56ff;
$dark-purple: #7700ff;

$light-green: #7ed56f;
$dark-green: #28b485;

$dark-orange: #ff3030;

$light-grey: #f7f7f7;
$light-grey-2: #eee;

$white-color: #fff;
$black-color: black;

$grey-color: #777;
$grey-color-2: #999;
$grey-color-3: #333;