$headingFont: 5.5vw;
$default-font-size: 1.6rem;

$primary-color: #6171ffcc;
$light-blue: #69b7f7cc;
$dark-blue: #3549fccc;

$light-grey: #f7f7f7;

$white-color: #fff;
$black-color: black;
$grey-color: #777;