.registerBox {
    background-image: linear-gradient(
                            105deg,
                            rgba($white-color, .9) 0%, 
                            rgba($white-color, .9) 50%,
                            transparent 50%
                            ),
                    url(../../../images/nat-10.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($black-color, .15);

    width: 90%;

    @include respond(tab-land) {
        background-image: linear-gradient(
            105deg,
            rgba($white-color, .9) 0%, 
            rgba($white-color, .9) 65%,
            transparent 65%
            ),
    url(../../../images/nat-10.jpg);

        background-size: cover;
    }

    @include respond(tab-port) {
        background-image: linear-gradient(
            to right,
            rgba($white-color, .9) 0%, 
            rgba($white-color, .9) 100%,
            transparent 100%
            ),
    url(../../../images/nat-10.jpg);
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tab-land) {
            width: 60%;
        }

        
        @include respond(tab-port) {
            width: 100%;
        }
    }
}