.dateRow {
    border-top:2px solid black;
    border-bottom: 4px solid black;
    margin: 0px auto;
    font-size: 2rem;

    @include respond(phone) {
        font-size: 1.75rem;
    }

    @include respond(galaxy) {
        font-size: 1.6rem;
    }

    @include respond(iphone) {
        font-size: 1.3rem;
    }
}