.input {
    min-height: 1000px;
    border-bottom-left-radius: $border-radius-app;
    border-bottom-right-radius: $border-radius-app;
    text-align: center;
    padding: 2rem;

    &--sleeper {
        background-image: linear-gradient(
            to right bottom,
             rgba($light-blue, 0.8),
             rgba($dark-blue, 0.8));
    }

    &--espn {
        background: linear-gradient(to right, $light-green, $dark-green)
    }

    &__jumbotron {
        max-width: 65rem;
        margin: auto;
        padding: 2rem 1rem;
        background-color: #e9ecef;
        border-radius: .3rem;

        &:not(:first-child) {
            margin-top: 2rem;
        }
    }

    &__helpertext {
        font-size: 2rem;
        margin-bottom: 2rem;
        font-weight: bold;
    }

    &__list {
        margin-top: 1rem;
        background-color: inherit;
        border: none;
        padding: 1rem 2rem;
        cursor: pointer;

        &--active {
            box-shadow: 0 .1rem 1rem rgba($black-color, .5);
        }
    }

    &__input {
        display: block;
        font-size: 2rem;
        margin: auto;

        &--error {
            border: 1px solid red;
        }
    }
}

.helperText {
    margin-bottom: 2rem;
    margin-right: 4rem;
    font-size: 1.3rem;
}


.espnGuide {
    &__image {
        width: 100%;
        margin: 5rem 0;
        box-shadow: 0 1.5rem 4rem rgba($black-color, .4);
        border-radius: 1rem;
    }

}