.inputBackground {
    min-height: 1000px;
    border-bottom-left-radius: $border-radius-app;
    border-bottom-right-radius: $border-radius-app;

    &--sleeper {
        background-image: linear-gradient(
            to right bottom,
             rgba($light-blue, 0.8),
             rgba($dark-blue, 0.8));
    }

    &--espn {
        background: linear-gradient(to right, $light-green, $dark-green)
    }
}

.sleeper {
    text-align: center;

    &__jumbotron {
        max-width: 65rem;
        margin: 2rem auto;
    }

    &__helpertext {
        font-size: 2rem;
        margin-bottom: 2rem;
        font-weight: bold;
    }

    &__list {
        margin-top: 1rem;
        background-color: inherit;
        border: none;
        padding: 1rem 2rem;

        &--active {
            box-shadow: 0 .1rem 1rem rgba($black-color, .5);
        }
    }

    &__input {
        display: block;
        font-size: 2rem;
        margin: auto;
        margin-bottom: 2rem;
    }
}


.espnGuide {
    &__image {
        width: 100%;
        margin: 5rem 0;
        box-shadow: 0 1.5rem 4rem rgba($black-color, .4);
        border-radius: 1rem;
    }

}