.reportContainer {
    border: 3px solid black;
    margin: 3rem auto;
    background: white;

    @include respond(phone) {
        
    }
}

.table {
    @include respond(phone) {
        font-size: 1.5rem;
    }
}