@import "../../abstracts/variables";    
@import '../../base/animations';
@import '../../base/utilities';
@import '../../base/typography';
@import '../../base/composition';

.about {
    background-color: $light-grey;
    padding: 25rem 6rem 45rem 6rem;
    margin-top: $margin-top;
}

.aboutPrimary {
    @extend .headingPrimaryText;    
}

.aboutTeritary {
    @extend .headingTertiaryText;
    margin-bottom: $margin-bottom-small;
}

.aboutParagraph {
    @extend .paragraph;
}

.aboutBtn {
    @extend .btn-text;
}

.aboutComposition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($black-color, .4);
        border: 1px solid $black-color;
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        &--1 {
            left: 0;
            top: -2rem;
        }

        &--2 {
            right: 0;
            top: 2rem;
        }

        &--3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: 1.5rem solid $primary-color;
            transform: scale(1.05) translateY(5px);
            box-shadow: 0 2.5rem 4 rem rgba($black-color, .5);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}