@import "../../base/base";
@import "../../abstracts/variables";    
@import '../../base/animations';
@import '../../base/typography';
@import '../../base/utilities';

.features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
         rgba($light-blue, .8),
         rgba($dark-blue, .8)), 
    url(../../../images/nat-4.jpg);
    background-size: cover;
}

.box {
    background-color: rgba($white-color, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($black-color, .15);

    &__icon {

    }

    &__text {

    }
}