@import "../../base/base";
@import "../../abstracts/variables";    
@import '../../base/animations';
@import '../../base/typography';
@import '../../base/utilities';


.header {
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
         rgba($light-blue, 0.8),
         rgba($dark-blue, 0.8)), 
         url(../../../images/football.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);


    &__logoBox {
        position: absolute;
        top: 3%;
        left: 2%;
    }

    &__logo {
        height: 4vw;
    }

    &__textBox {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }

}

.headingPrimary {
    color: $white-color;
    text-transform: uppercase;
    margin-bottom: 4rem;

    backface-visibility: hidden;

    &--main {
        @extend .headingText;
    
        // animation-name: moveInLeft;
        // animation-duration: 2s;
    
        // animation-delay: 3s;
        // animation-iteration-count: 3;
        // animation-timing-function: ease-out;
    }
    
    &--sub {
        @extend .headingText;
    
        // animation: moveInRight 2s ease-out 1.5s;  //animation: animation-type duratation style delay
        // animation-fill-mode: backwards;
    
        // animation-delay: 3s;
    }
}

.headingBtn {
    @extend .btn;

    &--white {
        @extend .btn-white;
    }

    &--animated {
        @extend .btn-animated;
    }
}