@import "../../base/base";
@import "../../abstracts/variables";    
@import '../../base/animations';

.header {
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
         rgba($light-color, 0.8),
         rgba($dark-color, 0.8)), 
         url(../../../images/football.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);


    &__logoBox {
        position: absolute;
        top: 3%;
        left: 3%;
    }

    &__logo {
        height: 4vw;
    }

    &__textBox {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }

}

.headingPrimary {
    color: $white-color;
    text-transform: uppercase;
    margin-bottom: 4rem;

    backface-visibility: hidden;

    &--main {
        display: block;
        font-size: $headingFont;
        font-weight: 400;
        letter-spacing: .2rem;
    
        animation-name: moveInLeft;
        animation-duration: 2s;
    
        // animation-delay: 3s;
        // animation-iteration-count: 3;
        // animation-timing-function: ease-out;
    }
    
    &--sub {
        display: block;
        font-size: $headingFont;
        font-weight: 400;
        letter-spacing: .2rem;
    
        animation: moveInRight 2s ease-out 1.5s;  //animation: animation-type duratation style delay
        animation-fill-mode: backwards;
    
        // animation-delay: 3s;
    }
}

.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1% 7%;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($black-color, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($black-color, .2);
    }

    &--white {
        background-color: $white-color;
        color: $grey-color;

        &::after {
            background-color: $white-color;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation: moveInBottom .5s ease-out 3s;
        animation-fill-mode: backwards;
    }

}