.navigation {

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $white-color;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;

        box-shadow: 0 1rem 3rem rgba($black-color, .1);
        text-align: center;
        cursor: pointer;

        @include respond(tab-port) {
            height: 5rem;
            width: 5rem;

            top: 3rem;
            right: 3rem;
        }
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($light-blue, $dark-blue);
        z-index: 100;

        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

        @include respond(tab-port) {
            height: 4rem;
            width: 4rem;
            
            top: 3.5rem;
            right: 3.5rem;
        }
    }

    &__nav {
        height: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 300;
        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        
    }   

    &__list {
        list-style: none;
        text-align: center;
        padding: 0;

        @include center-element;

        @include respond(phone) {
            width: 50rem;
        }
    }


    &__link {
        &,
        &:link,
        &:visited{
            font-size: 3rem;
            font-weight: 500;
            display: inline-block;
            color: $white-color;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $white-color 50%);
            background-size: 230%;
            transition: all .01s;
            width: 0;
            height: 0;
            visibility: hidden;
        }

        span {
            margin-right: 1.5rem;
            display: inline-block;
            visibility: hidden;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $primary-color;
            transform: translateX(1rem);
        }
    }


    // FUNCTIONALITY
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
        height: 100vh;
    }

    &__checkbox:checked ~ &__nav &__list &__item &__link {
        width: 100%;
        height: 100%;
        padding: 1rem 2rem;
        visibility: visible;

        span {
            visibility: visible;
        }

    }


    &__icon {
        position: relative;
        margin-top: 3.5rem;

        @include respond(tab-port) {
            margin-top: 2.5rem;
        }

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $grey-color-3;
            display: inline-block;

            @include respond(tab-port) {
                width: 2.5rem;
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { 
            top: -.8rem;
            
            @include respond(tab-port) {
                top: -.7rem;
            }
        }
        &::after { 
            top: .8rem; 

            @include respond(tab-port) {
                top: .7rem;
            }
        }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

        &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked ~ &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked ~ &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked ~ &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }


}