.composition {
    position: relative;

    @include respond(phone) {
        margin-top: 2rem;
    }

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($black-color, .4);
        border: 1px solid $black-color;
        border-radius: 2px;
        position: absolute;
        z-index: 1;
        transition: all .2s;
        outline-offset: 2rem;

        &--1 {
            left: 0;
            top: -2rem;

            @include respond(phone) {
                top: 4rem;
            }
        }

        &--2 {
            right: 0;
            top: 2rem;
        }

        &--3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            transform: scale(1.05) translateY(5px);
            box-shadow: 0 2.5rem 4 rem rgba($black-color, .5);
            z-index: 2;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}
