.box {
    background-color: rgba($white-color, .8);
    font-size: 2rem;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 1.5rem 4rem rgba($black-color, .15);
    transition: .2s all;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 2rem;

    height: 35rem;

    @include respond(iphone) {
        height: 26rem;
    }

    &--working:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $light-blue, $dark-blue);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    &__text {
        padding: 0 1rem;
    }

}

.platform {
    border-radius: 15px;
    box-shadow: 0 1.5rem 4rem rgba($black-color, .15);
    transition: .2s all;

    height: 35rem;
    position: relative;
    width: 80%;

    @include respond(iphone) {
        height: 26rem;
        width: 100%;
    }

    &--working:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }

    &__image {
        height: 100%;
        width: 100%;

        border-radius: 15px;

        &--espn {
            background-image: linear-gradient(to right, $light-green, $dark-green);
        }
    }

    &__disclaimer {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        align-items: center;

        border-radius: 15px;
        background: #808080cb;
        color: white;

        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}