.introHeader {
    height: 80vh;
    background-image: linear-gradient(
        to right bottom,
         rgba($light-blue, 0.8),
         rgba($dark-blue, 0.8)), 
         url(../../../images/football.jpg);
    background-size: cover;
    background-position: top;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
        height: 95vh;
    }


    &__logo-box {
        position: relative;
    }

    &__logo {
        height: 10rem;
        position: absolute;
        top: 5%;
        left: 1%;
    }

    &__text-box {
        text-align: center;
        width: 100%;

        @include center-element;
    }

}

.about {
    background-color: $light-grey;
    padding: 25rem 5rem 55rem 5rem;
    margin-top: -12rem;

    @include respond(tab-port) {
       padding: 20rem 5rem 30rem 5rem;     
    } 
    
    @include respond(phone) {
        padding: 23rem 5rem 70rem 5rem;
    }

    @include respond(iphone) {
        padding: 20rem 5rem 55rem 5rem;
    }

    
}

.features {
    padding: 23rem 5rem;
    background-image: linear-gradient(
        to right bottom,
         rgba($light-blue, .8),
         rgba($dark-blue, .8)), 
    url(../../../images/nat-4.jpg);
    background-size: cover;
    margin-top: -8rem;

    transform: skewY(-4deg);

    @include respond(iphone) {
        padding: 15rem 0;
    }

    & > * {
        transform: skewY(4deg);
    }
}

.platforms {
    padding: 23rem 0 5rem 0;
    background-color: $light-grey;
    margin-top: -10rem;
}

.reviews {
    padding: 15rem 0;
    position: relative;
}

.register {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $light-blue, $dark-blue);
}


