.introHeader {
    height: 80vh;
    background-image: linear-gradient(
        to right bottom,
         rgba($light-blue, 0.8),
         rgba($dark-blue, 0.8)), 
         url(../../../images/football.jpg);
    background-size: cover;
    background-position: top;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
        height: 95vh;
    }


    &__logo-box {
        position: relative;
    }

    &__logo {
        height: 10rem;
        position: absolute;
        top: 5%;
        left: 1%;
    }

    &__text-box {
        text-align: center;
        width: 100%;

        @include center-element;
    }

}

.about {
    background-color: $light-grey;
    padding: 30rem 5rem 65rem 5rem;
    margin-top: -12rem;

    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    
    @include respond(phone) {
        grid-template-columns: none;
        grid-template-areas: 
        'title'
        'description'
        'photos'
        ;

    }

    &__description {
        padding-right: 9rem;

        @include respond(phone) {
            padding-right: 0;    
        } 
    }

    
}

.features {
    padding: 23rem 5rem;
    background-image: linear-gradient(
        to right bottom,
         rgba($light-blue, .8),
         rgba($dark-blue, .8)), 
    url(../../../images/nat-4.jpg);
    background-size: cover;
    margin-top: -8rem;

    transform: skewY(4deg);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @include respond(tab-port) {
        padding: 15rem 2rem;
        grid-template-columns: 1fr 1fr;
    }

    @include respond(phone) {
        padding: 15rem 2rem;
        grid-template-columns: 1fr;
    }

    & > * {
        transform: skewY(-4deg);
    }
}

.platforms {
    padding: 20rem 0 10rem 0;
    margin-top: -10rem;
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;

        @include respond(phone) {
            grid-template-columns: 1fr;
            padding: 0 4rem;
            gap: 4rem;
        }
    }
}

.reviews {
    padding: 15rem 3rem;
    position: relative;
    display: grid;
}

.register {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $light-blue, $dark-blue);
    display: flex;
    justify-content: center;
}


