.introPageBtn:link,
.introPageBtn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}

.introPageBtn-white {
    background-color: white;
    color: #777;
}

.introPageBtn:hover {
    transform: translateY(-3px);
}

.introPageBtn:active {
    transform: translateY(-1px);
}