.cardTitle {
    font-family: 'Vast Shadow', cursive;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
}

#topCard::after {
    top: 50%;
    display: block;
    width: 100%;
    border-bottom: 2px solid black;
    content: "";
    margin: 20px 0;
}

#mainCol {
    padding: 0 0 0 20px;
    margin-top: 30px;
}


.innerDiv {
    border: 3px solid black;
    margin: 2px;
}

.outerDiv {
    border: 8px solid black;
}

.lowerDiv {
    border: 8px solid black;
    border-top: none;
    text-align: center;
    font-size:20px;
    font-weight: 600;
}

.cardImage {
    display: block;
    width: 250px;
}