#recapWeek {
    background : rgb(0, 0, 107);
    color: white;
    text-align: center;
}

table {
    font-size: 20px;
}

tbody {
    text-align: center;
    font-weight: 500;
}

thead {
    text-align: center;
}

.color1 {
    background: #26b426;
}

.color2 {
    background: #18d900;
}

.color3 {
    background: lightgreen;
}

.color4 {
    background: #d7f461
}

.color5 {
    background: #fbff00;
}

.color6 {
    background: #faec43;
}

.color7 {
    background: #f4c459;
}

.color8 {
    background: #fc865a;
}

.color9 {
    background: #f84d4d;
}

.color10 {
    background: red;
}